# [dbo].[Departamento]

In [0]:
USE [dbCrud]
GO

In [0]:
/****** Object:  Table [dbo].[Departamento]    Script Date: 5/10/2025 7:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Empleado]

In [0]:
/****** Object:  Table [dbo].[Empleado]    Script Date: 5/10/2025 7:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](50) NULL,
	[IdDepartamento] [int] NULL,
	[Sueldo] [decimal](10, 2) NULL,
	[FechaContrato] [date] NULL,
	[Cedula] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [FK__Empleado__IdDepa__4BAC3F29]

In [0]:
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([IdDepartamento])
GO

# [dbo].[sp_crearEmpleado]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_crearEmpleado]    Script Date: 5/10/2025 7:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_crearEmpleado]
(
 @NombreCompleto varchar(50),
 @cedula varchar(20),
 @IdDepartamento int,
 @Sueldo decimal(10,2),
 @FechaContrato varchar(10),
 @Mensaje varchar(100) output
)
as
begin
set dateformat dmy;
 if not exists( select * from Empleado e where e.Cedula =@cedula )
 begin
    insert into Empleado(NombreCompleto,Cedula,IdDepartamento,Sueldo,FechaContrato)
  values(@NombreCompleto,@cedula,@IdDepartamento,@Sueldo, convert(date, @FechaContrato))
end
   set @Mensaje='usuario ya existe';
end;
GO

# [dbo].[sp_editarEmpleado]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_editarEmpleado]    Script Date: 5/10/2025 7:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_editarEmpleado]
(
 @IdEmpleado int,
 @NombreCompleto varchar(50),
 @cedula varchar(20),
 @IdDepartamento int,
 @Sueldo decimal(10,2),
 @FechaContrato varchar(10),
 @Mensaje varchar(100) output
)
as
begin
set dateformat dmy;
 if  exists( select * from Empleado e where e.IdEmpleado =@IdEmpleado )
 begin
    update Empleado 
	set NombreCompleto= @NombreCompleto,
	cedula=Cedula,
	IdDepartamento=@IdDepartamento,
	Sueldo=@Sueldo,
	FechaContrato = CONVERT(date,@FechaContrato)
	where IdEmpleado =@IdEmpleado;
end
   set @Mensaje='el usuario no existe';
end;
GO

# [dbo].[sp_eliminarEmpleado]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_eliminarEmpleado]    Script Date: 5/10/2025 7:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- procedimiento almacenado eliminar
create procedure [dbo].[sp_eliminarEmpleado]
(
@IdEmpleado int,
@mensaje varchar(100) output
)as
begin
 delete from Empleado where IdEmpleado =@IdEmpleado;
 set @mensaje='empleado eliminado con exito';
end;
GO

# [dbo].[sp_listarEmpleado]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_listarEmpleado]    Script Date: 5/10/2025 7:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_listarEmpleado]

as
begin

select 
IdEmpleado,
NombreCompleto as 'Empleado',
Cedula,
Nombre as 'Departamento',
sueldo,
convert(char(10), FechaContrato,103) as 'fechaContrato' -- trabajamos con 10 caracteres
 from Empleado e 
 inner join Departamento d on d.IdDepartamento = e.IdDepartamento  ;
end;
GO